/* reset */
*{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
i,em,address{font-style:normal;}
strong,b{font-weight:normal;}

/* common style */
html{font-size:14px;font-family: 'Noto Sans KR', sans-serif;}

/* layout */
#container{}
.moviePopup {
    background: #0175c8;
    line-height:0;;
}
.innerCon{
    width:980px;
    border:1px solid lime;
    margin:0 auto;
}

.gnb>ul>li>ul{display:none;}
.gnb>ul>li>h3{display:none;}

/* header */
.headerTop{
    border:1px solid red;
    display: flex;
    justify-content:space-between;
    padding:14px 0;
}
.logo{border:1px solid blue;}
.logo img{width:117px;}
.logoDeco{text-transform: uppercase;letter-spacing:4px;}
.topMenu{border:1px solid blue;display:flex;align-items: center;}
.topMenu>ul{display: flex;margin-left:25px;}
.topMenu>ul>li{border:1px solid red;display: flex;align-items: center;
margin-right:10px;}
.topMenu>ul>li:last-of-type{margin-right:0;}
.topMenu>ul>li>a{border:1px solid blue;display:flex;flex-direction:column;align-items:center;}
.topMenu>ul>li>a>img{border:1px solid green;width:36px;}
.topMenu>ul>li>a>b{border:1px solid green;}

.headerBottom{display:flex;justify-content:space-between;align-items: center;;}
.gnb{border:1px solid red;}
.search{border:1px solid red;}
.gnb>ul{display:flex;}
.gnb>ul>li{border:1px solid blue;margin-right:20px;}
.gnb>ul>li>a{border:1px solid red;display:block;padding:5px 8px;}
.search>label{display:none;}
#search{border:none;}
.btnSearch{
    font-size:0px;
    width:30px;height:30px;
    border:1px solid red;
    background:#fff url("../img/search.png") no-repeat 50% 50%; 
    background-size:80% auto;
}

.mainBanner{border:5px solid red;background:#000;}
.mainVideo{height:500px;width:100%;border:1px solid red;
object-fit:cover;
}

.mainBanner .innerCon{
    position:relative;
}
.mainBanner .innerCon:after{
    content:"fffffffff";
    position:absolute;
    left:0;
    top:0;
    border:1px solid lime;
    width:100%;
    height:100%;
    background: linear-gradient(270deg, black, transparent,black);
}
.videoDescFloating{
    position:absolute;
    border:1px solid lime;
    left:0;
    top:200px;
    color:#fff;
    z-index:1;
}
.videoDescFloating>h4{
    font-size:30px;font-weight:bold;
    margin-bottom:15px;
}
.videoDescFloating>p{
    font-size:16px;
}