.box{
    border:1px solid red;
    display:none;
}
.box2{
    
    height:500px;
    background-color:gold;
    background-image:url("../img/woman.jpg");
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:contain;
    background:gold url("../img/woman.jpg") no-repeat 50% 50%/contain;
    background-attachment:fixed;
    /* 
        css에서는 축약형 표현을 먼저 한 뒤 개별속성 표현을 하는것이 좋다
    */
    
}