*{margin:0;padding:0;}
.box{
    width:1200px;margin:0 auto;border:1px solid red;
    /* transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 2s; */
    transition:all 0.5s linear 2s;

}
.box:hover{background:pink;}
.a{
    width:200px;height:200px;background:red;color:#fff;
    transition:all 500ms ease 0s;
}
.a:hover{transform:translate(200px,200px);}

.b{
    width:200px;height:200px;background:blue;color:#fff;
    transition:all 500ms ease 0s;
}
.b:hover{transform:rotate(360deg);}
.persBox{
    perspective:500px;
    border:5px solid red;
}
.c{
    width:200px;height:200px;background:green;color:#fff;
    transition:all 500ms ease 0s;
    margin:0 auto;
}
.c:hover{
    transform:rotateY(180deg);
}

.d{
    width:200px;height:200px;background:purple;color:#fff;
    transition:all 500ms ease 0s;
    margin:0 auto;
}
.d:hover{
    transform:scale(2);
    /* scaleX()가로배율만 조정,scaleY()세로배율만 조정 */
}