*{margin:0;padding:0;}
.relBox{
    border:1px solid red;
    position:relative;
    right:100px;
    bottom:100px;
}

.absBox{
    border:10px solid blue;
    position:absolute;
    right:200px;
    bottom:0px;
    background:gold;
}
.mom{
    width:500px;height:500px;background:pink;
    position:relative;
}